@charset "utf-8";
/* CSS Document */

div.ttfieldbox {
	background-color: #000812;
	display: inline-block;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 3px;
	margin-top: 3px;
	margin-right: 25px;
	margin-bottom: 0px;
	margin-left: 0px;
}